.main {
  min-height: 200px;
  background-color: #1C162E;
}
.main-header {
  width: 100%;
  text-align: center;
  padding: 30px 10px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.78px;
  background: rgb(2,0,36);
  background: linear-gradient(147deg, rgba(2,0,36,1) 0%, rgba(165,115,255,1) 0%, rgba(90,123,239,1) 100%);
}
.main-body {
  padding: 20px;

  h1{
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.78px;
    text-align: center;
  }
}

.main-footer {
  padding: 10px;
  font-size: 9px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.78px;
  text-align: center;
}

.result {
  color: #ffffff;
  text-align: center;

  .result-value {
    font-size: 3rem;
  }
}
